*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background-color: yellow;
  width: 100%;
}
.timer-container{
  background-color: red;
  display: flex;
  justify-content: space-between;
}
.button-container{
  
}
